body {
	width: 100%;
}

section {
	@include margin(5rem);
	
	&:first-of-type{
		margin-top: 0;
	}
}
.container {
	width: 95%;
	max-width: 1000px;
	@include margin(0);
}

.inner-container {
	@include margin(0);
	max-width: 1000px;
}

.content-center {
	text-align: center;
}

.section-header {
	@include margin(2rem);
}