@mixin margin($val) {
	margin: $val auto;
}

@mixin padding($val) {
	padding: $val 0;
}

@mixin arrow($bg, $color){
		position: relative;
		background: $bg;
		border: 2px solid $color;
		&:after,
		&:before {
			top: 100%;
			left: 50%;
			border: 2px solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
		&:after {
			border-color: rgba(232, 76, 61, 0);
			border-top-color: $bg;
			border-width: 10px;
			margin-left: -10px;
		}
		&:before {
			border-color: rgba(232, 76, 61, 0);
			border-top-color: $color;
			border-width: 13px;
			margin-left: -12px;
		}
}
/*
@mixin jumbo-arrow{
	&:before {
	    top: 0%;
	    left: 50%;
	    border: solid transparent;
	    content: " ";
	    height: 0;
	    width: 0;
	    position: absolute;
	    pointer-events: none;
	    border-top-color: $light;
	    border-width: 20px;
	    margin-left: -20px;
	}
}
*/