$light: rgba(255, 255, 255, 1);
$bg_primary: rgba(41, 96, 107, 1);
$bg_secondary: rgba(36, 89, 99, 1);
$border: rgba(56, 125, 137, 0.6);
$accent1: rgba(232, 76, 61, 1);
$accent2: rgba(253, 189, 31, 1);
$accent3: rgba(27, 188, 155, 1);
$accent4: rgba(155, 88, 181, 1);